<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>

<h3 class="display-6 footer-text ">&copy;2023 All rights reserved</h3>

</body>

</html>